/* MY CSS IS LACKINGGGGG I GOTTA STEP MY GAME UP SMH*/

/* OVERALL PAGE STYLING */
body {
  background-color: silver;
}

/* NAVBAR STYLING */

.navHeader {
  background-color: slateblue;
  opacity: .7;
}

.navDivContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.navBar {
  display: flex;
  opacity: .5;
}

.navHome {
  display: inline-flex;
  justify-items: center;
  padding: 5px;
  margin-right: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.navPic {
  display: inline-flex;
  justify-items: center;
  padding: 5px;
  margin-right: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.navAbout {
  display: inline-flex;
  justify-items: center;
  padding: 5px;
  margin-right: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/* HOME STYLING */

.homeImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 100%;
  overflow: hidden;
}